<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Ktor project</title>
</head>
<body>
    <h2>Registration form</h2>
    <form method="post">
        <label>
            <input type="text" name="nickname">
        </label>
        <label>
            <input type="text" name="login"/>
        </label>
        <label>
            <input type="password" name="password"/>
        </label>

        <button>Register</button>
    </form>
</body>
</html>